/* Hide the ads */
.mq,
.oM,
.u7,
.V3vJRb,
.yxEQwb,
.Zs,
.aj5,
/* Hide compose button */
.z0,
/* Hide footer */
.l2,
/* Hide chat */
.T0.pp:nth-of-type(1),
/* Hide contacts, tasks, & compose, use shortcut for these */
.CX.pp, .T4.pp, div[id=':kt'].n3 .z0,
/* Hide rapportive in header */
#rapportive-status,
/* Hide "Search the Web" button, who uses gmail to search the web? */
div[id=':rh'],
div[id=':ri'],
/* Hide search options and create filter links */
td.GcwpPb-Pkt3ef.GcwpPb-txTtjf,
/* Hide manage domain gapps link */
.e.GcwpPb-tOAp0c,
/* Hide the account switching dropdown */
.gbt.gbtb,
/* Hide account name */
a.gbgt#gbg4,
/* Hide the ridiculous apps marketplace link */
.GcwpPb-MEmzyf.GcwpPb-bEO5kc,
/* Hide the left header */
.gbt,
/* Hide Google Plus and Circles nonsense */
.LrBjie.aat,
#gbgs1{display:none;}
